body{
    padding: 0;
    margin: 0;
}

.nav1{
    background-color: green;
    display: flex;
    background-color: white;
    border: solid 1px;
}



h1{
    color: blue;
}

/* div - section */
.section3 {
    width: 100%;
    height: 450px;
    overflow: hidden;
    position: relative;
    background-image: url("Resourse/The-Last-of-Us.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    justify-content: center;
    
}
.section1{
width: 100%;
height: 500px;
overflow: hidden;
position: relative;
background-image: url(Resourse/spider-man.jpg);
background-position: center;
background-repeat: no-repeat;
background-size: cover;
text-align: center;
justify-content: center;
animation: change 25s infinite ease-in-out;
}

/*Div - container */
/* Heading */
.container1{
    width: 100%;
    height: 45px;
    background-color: black;
    text-align: right;
}
.container5{
       
    position: relative;
    margin-top: 300px;
    color:aliceblue;
    outline-color: black;
               
    }
.container2{
    width: 100%;
    height: 150px;
    display: block;
    
}
#tbl1{
    margin-left: auto;
    margin-right: auto;
}






/*  Images */

#sony1{
    width: 80px;
    height:30px;
}
.play-img{
    width: 60px;
    height: 30px;
    text-align: center;
}

.cod{
    width: 100%;
    height: 600px;
}

.al{
    width: 150px;
    height: 150px;
}
.psc{
    width: 150px;
    height: 150px;

}
.sm{
    width: 150px;
    height: 150px;
    
}
.tc{
    width: 150px;
    height: 150px;
}

.console{
    width: 300px;
    height: 350px;
}

.background1{
    width: 100%;
    height: 320px;
}

.psp{
    width: 200px;
    height: 100px;
}
.games{
    width:250px;
    height: 280px;
}

/*Table*/

#tbl2{
    margin-left: auto;
    margin-right: auto;

}
.tbl3{
    margin-left: auto;
    margin-right: auto;
}
/*button */
.btn1{
    color: white;
    background-color: blue;
    font-size: 12px;
}
.btn1:hover{
    background-color:orange;
    color: red;
}

.btn2{
    color: white;
    background-color: blue;
    font-size: 12px;
}
.btn2:hover{
    background-color:orange;
    color: red;
}

.btn3{
    color: white;
    background: #034e88;

    font-size: 12px;
}
.btn3:hover{
    background-color:orange;
    color: red;
}



/*animation */
@keyframes change{
    15%
    {
        background-image: url(Resourse/godofwar.jpg);
    }
    25%
    {
        background-image: url(Resourse/callofduty.jpg);
    }
    35%
    {
        background-image: url(Resourse/spider-man.jpg);
    }
    40%
    {
        background-image: url(Resourse/The-Crew-2.jpg);
    }
    50%
    {
        background-image: url(Resourse/apex-legend.jpg);
    }
    100%
    {
        background-image: url(Resourse/The-Last-of-Us.jpg);
    }
}